---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Button from "../components/Button.astro";
import Code from "../icons/Code.astro";
import Skill from "../icons/Skill.astro";
import User from "../icons/User.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GithubIcon from "../icons/tech/Github.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import CurriculumIcon from "../icons/Curriculum.astro";
import "aos/dist/aos.css";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Agustín Gómez | Desarrollador web" description="">
	<main class="px-4">
		<SectionContainer class="section">
			<h1 class="font-extrabold text-5xl md:text-7xl">Agustín Gómez</h1>
			<h2 class="font-medium text-2xl md:text-4xl">Desarrollador web</h2>
			<div class="flex flex-col md:flex-row items-start md:items-center gap-3 mt-2 ">
				<a href="https://github.com/AgustinGomezDev" target="_blank">
					<Button>
						<GithubIcon class="size-6" />
						<span>Github</span>
					</Button>
				</a>
				<a href="https://www.linkedin.com/in/agustingomezblanco/" target="_blank">
					<Button>
						<LinkedinIcon class="size-6" />
						<span>LinkedIn</span>
					</Button>
				</a>
				<Button>
					<CurriculumIcon class="size-5" />
					<span>Curriculum</span>
				</Button>
			</div>
		</SectionContainer>
		<SectionContainer class="section" id="proyectos">
			<SectionTitle title="Proyectos">
				<Code class="size-6" />
			</SectionTitle>
			<div class="mt-6 flex flex-col gap-6">
				<ProjectCard
					title="Conga"
					description="Juego de cartas en línea inspirado en La Conga, que incluye autenticación de usuarios, modos de juego contra IA y multijugador, creación de partidas públicas y privadas, además de perfiles de usuario con estadísticas y personalización."
					code="https://github.com/AgustinGomezDev/conga"
					demo=""
					image="https://indetectables.es/wp-content/uploads/2021/03/portada-proximamente.png"
					tech={[
						"nextjs",
						"typescript",
						"nodejs",
						"express",
						"socketio",
						"reactjs",
						"tailwindcss",
					]}
					dataAos="fade-left"
				/>
				<ProjectCard
					title="AnunciosUy"
					description="Plataforma de anuncios clasificados con autenticación de usuarios y funcionalidades para publicar, buscar, editar y eliminar anuncios."
					code="https://github.com/AgustinGomezDev/anunciosuy"
					demo="https://www.anunciosuy.com/"
					image="/anunciosuy.webp"
					tech={[
						"vite",
						"javascript",
						"axios",
						"nodejs",
						"express",
						"reactjs",
						"tailwindcss",
						"firebase",
						"JWT",
						"mongodb",
					]}
					dataAos="fade-left"
					dataAosDelay="400"
				/>
				<ProjectCard
					title="Tokytech"
					description="E-commerce desarrollado con tecnologías frontend y backend, que integra autenticación de usuarios, sistema de sesiones, diseño responsivo, carrito de compras, filtrado de productos por categoría y ordenamiento por precio."
					code="https://github.com/AgustinGomezDev/tokytech"
					demo="https://tokytech.vercel.app/"
					image="/tokytech.webp"
					tech={[
						"vite",
						"javascript",
						"axios",
						"nodejs",
						"express",
						"reactjs",
						"tailwindcss",
						"JWT",
						"mongodb",
						"chai",
						"swagger",
						"passport",
					]}
					dataAos="fade-left"
				/>
				<ProjectCard
					title="Hackathon Cloudinary x Midudev"
					description="Una aplicación que permite subir una foto y transformarla en una versión monstruosa, eligiendo entre varios personajes. Incluye cambio de fondo a escenarios tenebrosos, descarga de la imagen final y un minijuego interactivo mientras esperas la transformación."
					code="https://github.com/AgustinGomezDev/hackathon-cloudinary"
					demo="https://agdev-hackathon-cloudinary.vercel.app/"
					image="/hackathon.webp"
					tech={[
						"cloudinary",
						"nextjs",
						"typescript",
						"reactjs",
						"tailwindcss",
					]}
					dataAos="fade-left"
				/>
			</div>
		</SectionContainer>
		<SectionContainer class="mt-11 section" id="habilidades">
			<SectionTitle title="Habilidades">
				<Skill class="size-6" />
			</SectionTitle>
			<Skills />
		</SectionContainer>
		<SectionContainer class="section" id="sobre-mi">
			<SectionTitle title="Sobre mí">
				<User class="size-6" />
			</SectionTitle>
			<About />
		</SectionContainer>
	</main>
</Layout>

<script>
	import AOS from "aos";
	AOS.init();
</script>
