---
import Layout from '../layouts/Layout.astro';
import { calculateAge } from '../utils/calculateAge'

const birthdate = new Date('2003-08-21')
---

<Layout title="Agustín Gómez | Desarrollador web" description="">
	<main>
		
	</main>
</Layout>