---
import { Image } from 'astro:assets';

import { calculateAge } from '../utils/calculateAge';
const birthdate = new Date("2003-08-21");
---

<div class="flex flex-col md:flex-row items-center md:justify-between gap-5 mt-6">
    <div class="md:max-w-sm lg:max-w-xl flex flex-col gap-5 text-sm md:text-md" data-aos="fade-right" data-aos-once="true" data-aos-delay={200}>
        <p>Soy un <strong class="text-primary">desarrollador web</strong> de {calculateAge(birthdate)} años <strong class="text-primary">apasionado</strong> por crear herramientas y aplicaciones que resuelvan problemas del mundo real. Me motiva aportar valor a través de <strong class="text-primary">soluciones tecnológicas</strong>.</p>
        <p>Comencé mi <strong class="text-primary">aprendizaje de programación</strong> en 2019 con <strong class="text-primary">Java</strong> en el instituto. En mi último año allí desarrollé un proyecto de egreso demostrando los conocimientos adquiridos con <strong class="text-primary">PHP</strong>, <strong class="text-primary">HTML</strong>, <strong class="text-primary">CSS</strong>, y <strong class="text-primary">JavaScript</strong>.</p>
        <p>Desde entonces, he profundizado mis conocimientos con cursos y de manera autodidacta en <strong class="text-primary">JavaScript</strong>, <strong class="text-primary">React.js</strong>, <strong class="text-primary">Sass</strong> y <strong class="text-primary">Tailwind CSS</strong>. También del lado del  backend con <strong class="text-primary">Node.js</strong> y <strong class="text-primary">Express</strong>.</p>
        <p>Actualmente me encuentro trabajando con <strong class="text-primary">TypeScript</strong> y ampliando mis conocimientos de <strong class="text-primary">C#</strong>. Me gustaría también poder formarme en algunas habilidades complementarias como <strong class="text-primary">SEO</strong>, <strong class="text-primary">Copywriting</strong> y <strong class="text-primary">diseño UX/UI</strong>.</p>
    </div>
    <div class="bg-gradient-to-tr from-secondary to-primary rounded-xl border border-lightAccent border-opacity-10 shadow-xl hover:rotate-6 transition-all hover:scale-90" data-aos="fade-left" data-aos-once="true" data-aos-delay={200}>
        <Image loading='lazy' src="/profilePic.webp" width={250} height={250} alt="Foto de Agustín Gómez" class="rounded-xl" />
    </div>
</div>