---
import Button from "./Button.astro";
import GithubIcon from "../icons/tech/Github.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import CurriculumIcon from "../icons/Curriculum.astro";
---

<footer class="w-full mx-auto container lg:max-w-4xl md:max-w-xl mt-11">
    <hr class="border-accentSecondary"/>
    <div class="flex flex-col md:flex-row gap-3 justify-between items-center my-6">
        <p class="text-accentPrimary">Agustín Gómez - 2024</p>
        <nav class="flex flex-col md:flex-row gap-3">
            <a href="https://github.com/AgustinGomezDev" target="_blank">
                <Button>
                    <GithubIcon class="size-6" />
                    <span>Github</span>
                </Button>
            </a>
            <a
                href="https://www.linkedin.com/in/agustingomezblanco/"
                target="_blank"
            >
                <Button>
                    <LinkedinIcon class="size-6" />
                    <span>LinkedIn</span>
                </Button>
            </a>
            <a href="https://drive.google.com/file/d/1lIOeC2Z8CTpu57AS4GCy8hAgPnUnvz1O/view?usp=sharing" target="_blank">
                <Button>
                    <CurriculumIcon class="size-5" />
                    <span>Curriculum</span>
                </Button>
            </a>
        </n>
    </div>
</footer>
