<header class="mt-6">
    <nav>
        <ul class="flex justify-center items-center gap-3 font-medium text-md">
            <li class="hover:text-primary cursor-pointer transition-colors">Proyectos</li>
            <li class="hover:text-primary cursor-pointer transition-colors">Habilidades</li>
            <li class="hover:text-primary cursor-pointer transition-colors">Sobre mí</li>
            <li class="hover:text-primary cursor-pointer transition-colors">Contacto</li>
        </ul>
    </nav>
</header>