---
interface Props {
	title: string;
	description: string;
}
import "../globals.css";
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bgColor text-textColor">
		<div class="absolute top-0 z-[-2] h-screen w-full gradient"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	.gradient {
		background: radial-gradient(
			ellipse 70% 100% at 50% -5%,
			rgba(var(--accent-primary), 0.5),
			rgba(var(--bgColor), 1)
		);
	}
</style>